%section 
  .container
    .row
      .col-sm-12
        .jumbotron
          .container
            .center
              .col-sm-4.offset4
                = image_tag "buddha_stick.png", class: 'img-responsive'
              
            %h2 Your download will begin in a moment...
            %p 
              Please 
              = link_to "click here", AppVersion.standard.version_file.url
              if your download does not begin in 10 seconds.

        