#mainCTABG
  .container
    .row
      .col-xs-12.text-center
        %a.btn.btn-success.btn-lg{href: 'http://www.kickstarter.com/projects/1369431496/taper-the-end-of-email-overload'}
          %span.icon.icon-star
          Get Taper. Fix Email.
