.container
  .row
    .col-sm-8.col-sm-offset-2.text-center
      = image_tag "sketches/overview.jpg", :title => "Taper Overview", :class => "img-responsive thumbnail"

  .row
    .col-sm-12.text-center
      %h3
        = link_to "learn more about how taper works.", how_path