.container
  .row
    .col-sm-12.text-center
      = image_tag "taper_howitworks_graphics.jpg", :title => "Taper Overview", :class => "img-responsive"

  .row
    .col-sm-12.text-center
      %h3
        = link_to "learn more about how taper works.", how_path