#topBG
  .container
    .row
      .col-md-12.text-center
        %h1 
          Focus on what's important.
          %br
          %small Taper makes inbox zero an immediate reality and summarizes everything else.
    .row
      .col-xs-6.text-center
        = image_tag "how_works_now.png", class: 'img-responsive frameit'
      .col-xs-6.text-center
        = image_tag "how_works_with_taper.png", class: 'img-responsive frameit'

