.container  
  .row
    .col-md-12.text-center
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "422", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/73404481?title=0&amp;byline=0&amp;portrait=0", :webkitallowfullscreen => "", :width => "750"}

