.container  
  .row
    .col-md-12.text-center
      %video{:controls => "controls", :height => "496", :width => "853"}
        %source{:src => "https://s3.amazonaws.com/Taper/taper_shorter.mov", :type => "video/mp4"}/
