.container
  .row
    .col-sm-4.text-center
      %i.icon-key.icon-5x
      %h4 Safe & Secure
      %p
        Taper never stores or reads your email, 
        it simply moves them back and forth between 
        folders in
        %em your account.
        And since we never store anything, if we
        go down your email will still be delivered without 
        problem.


    .col-sm-4.text-center
      = image_tag "to-do-list-nothing.jpg", class: 'img-responsive icon-size'
      %h4 Learn Nothing. Feel Better.
      %p
        To use Taper, do nothing different.  Want to use Gmail?  Fine.
        iPhone?  Ok doke.  Apple Mail or Outlook - yippee!  Taper 
        don't care since it runs in the background keeping your inbox  
        nice and neat in whatever you use.


    .col-sm-4.text-center
      = image_tag "fun_buddha.jpg", class: 'img-responsive icon-size'
      %h4 Achieve Email Zen

      %p 
        Picture a huge pile of laundry.  Socks, shirts, pants, everywhere -   
        waiting to be folded.  Stressful right?
        Now picture just five shirts.  Not a hamper full, just five.  
        Feels better right?  That's Taper.

  .row
    .col-sm-12.text-center
      %h3
        = link_to "learn more about taper...", what_path