#aquarium
  #leftSide
  #rightSide
    %ul#nav
      %li what is taper
      %li support our indiegogo campaign
      %li watch our video
      %li take control of email
      %li contact us


  #logo= image_tag "logo.png"
