.container
  .row
    .col-md-4
      = image_tag "inbox_zero.png", :title => "Inbox Zero", :class => "img-responsive"

      .text-center
        %p
          %button.btn.btn-info
            %span.icon.icon-star
            Support our IndieGoGo Campaign
        %p
          %button.btn.btn-success Get Taper
    .col-md-8
      %h1 Email is broken.  We fixed it.

      %p
        Instead of letting every email you ever receive go directly to your inbox, Taper 
        lets in five. 

      %h2 That's Right, Just Five Emails.

      %p
        Once you delete, archive, move or flag an email, another's allowed in.

      %h1 Yes We're Serious.  It's That Damn Simple.

      %p
        No emails are filtered out, you'll eventually see everything, but in a 
        calm, zen like way instead of having a crap load of email constantly dumped on you.

      %h2 Do I Really Need This?

      %p
        Look at your inbox, right now.  Are there more than 20 emails sitting there?  Then 
        yeah, you need it.  Because every email that comes in after this point, right now, 
        adds stress, decreases productivity and wastes your time.

      %h1 But I'm Going To Miss Something! AHHHHHH

      %p
        See, you're stressed.  But with Taper you won't be and you won't miss anything.  

      %p
        If you end up with emails in your queue 
        Taper will send you a single summary email so you can see what's there at a glance.  
        Also, your queue folder is always there, so you can easily jump to it IF you need to 
        (which rarely happens once you start using Taper cause you just do email better).

      %h2 And You Learn Nothing New.  Nothing.

      %p 
        Taper just works, silently in the background, communicating with your email 
        server to block email and move it when ready.  It's like a diaphram you 
        didn't know was there (that let's in a baby or two every once in a while).





      