.text-center
  %h1 Welcome to Taper
  %h2 Here's how it works

.row
  .col-xs-6
    = image_tag "sketches/cloud_queue_inbox.jpg", class: 'img-responsive img-thumbnail'
  .col-xs-6
    %p
      Instead of all of your email going into your inbox, 
      Taper will act as a virtual "doorman" and only let FIVE emails 
      into your inbox at a time.  

    %p
      Five, being small, is easy for you to digest and manage.
