.text-center
  %h1.nosub Adding an Account

.row
  .col-xs-6.text-center
    = image_tag "tour/adding_account.png", class: 'img-responsive'
  .col-xs-6
    %p
      Once this tour ends the Taper Account window will appear.  Simply enter your 
      email account and password and hit the "play" button to start Taper.

    %p
      You can add more accounts by clicking "New Email."

    