.text-center
  %h1.nosub Receiving new emails

.row
  .col-xs-3.text-center
    %i.flaticon.stroke.trash-2
    .clear
    %i.flaticon.solid.open-folder-3
    .clear
    %i.flaticon.solid.star-2 
  .col-xs-9
    %p
      Once you delete, move, label, flag or star an email in your inbox, Taper lets the next one in.  

    %p
      .label.label-primary Tip
      only <strong>star</strong> or <strong>flag</strong> emails that you truly can't deal with right now and must deal with later.  
      Too many flagged emails is a sign you're leaving too many things to deal with later.

    %p
      .label.label-primary Tip Tip
      if you're used to keeping emails in your inbox that are expecting a follow-up, don't, they take up space and mindshare.  
      Either delete them and wait for the reply or file them into a new folder called "waiting" or something similar.

