.text-center
  %h1.nosub Let's Get Started

.row
  .col-xs-3.text-center
    = image_tag "inbox_zero.png", class: 'img-responsive'
  .col-xs-9
    %p
      Click "Close Tour" below to get started using Taper, but be warned, the first time can be scary.  

    %p
      Your email will be moved to the @TaperQueue folder and only five will be "delivered." Give yourself a day or two to go through these deleting deleting, responding, filing and deleting.  You'll be at inbox zero before you know it.

    %p
      And don't worry, if a <strong>NEW email</strong> arrives, it will be next in line so you won't miss a thing.
