.text-center
  %h1 The VIP List
  %h2 (a.k.a. the front-of-line feature)

.row
  .col-xs-6.text-center
    = image_tag "tour/access_vip_list.png", class: 'img-responsive'
    = image_tag "tour/vip_list.png", class: 'img-responsive'
  .col-xs-6
    %p
      You can add people to your VIP list directly from the Taper account screen.

    %p
      Any emails received from VIPS will automatically moved to the front of the queue so 
      their emails are the very next ones delivered.  
