.text-center
  %h1 The Queue
  %h2 (and the myth of important emails)

.row
  .col-xs-3.text-center
    = image_tag "after_taper.png", class: 'img-responsive'
  .col-xs-9
    %p
      Taper puts your email-in-waiting in a <code>@TaperQueue</code> folder, so you can easily jump to it 
      <strong>if</strong> you really need something right now.

    %p
      Keep in mind, constantly going to the queue folder to view emails is terribly stressful and inefficient.  Deal with what's in your inbox and the waiting emails (and a zen life) will follow.