body#app {

  &.tour {
    background: white; 

    #logo {
      margin: 10px 0px;
      float: right;
    }

    .carousel-inner {
      height: 400px;

      h2 {
        margin-bottom: 30px;
      }

      p {
        font-size: 16px;
        line-height: 1.5em;
        margin-bottom: 20px;
      }

      .nosub {
        margin-bottom: 30px;
      }
    }

    .carousel-control {
      .left {

      }

      .right {

      }
    }
  }
}