@import 'fonts';
@import 'vendor';
@import 'welcome';
@import 'app';

html, body {
  background: image-url('bg/vertical_cloth.png');

  &.blank {
    background: none;
  }
}

html, body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'AvenirNextLTW01-Regular';
  // color: #f2ede3;
}

section {
  background: white;
  padding-top: 30px;
}

h1 {
    line-height: 1em;
    font-family: 'Avenir Next LT W01 Bold';
    // font-size: 75px;
    font-size: 3em;
    padding: 0;
    margin: 0;
    font-weight: normal;
}
h2 {
    font-size: 2.25em;
    font-weight: normal;
}
h3 {
    font-family: 'AvenirNextLTW01-Regular';
    font-size: 1.75em;
    font-weight: normal;

    &.bold {
      font-family: 'Avenir Next LT W01 Bold';
    }
}
h4 {
    font-family: 'Avenir Next LT W01 Bold';
    font-size: 1.25em;
    font-weight: normal;
}
h5 {
    font-family: 'Avenir Next LT W01 Bold';
    font-size: 1.10em;
    font-weight: normal;
}

strong {
  font-family: 'Avenir Next LT W01 Bold';
}


// override bootstrap for nav
header {
  margin-bottom: 0px;
  background: white;

  .navbar-default {
    margin-bottom: 0px;
    background: white;
    border: none;
    padding-right: 20px;
    box-shadow:0 2px 4px rgba(0, 0, 0, .3);
    width: 100%;
  }

  .navbar-brand {
    background: white;
    padding: 5px 15px;

    &:hover {
      background: white !important;    
    }
  }
}

.page-header {
  margin-top: 0px;
}

.stuck {
  position:fixed;
  top:0;
  box-shadow:0 2px 4px rgba(0, 0, 0, .3);
}


#logo {
  height: 40px;
}


footer {
  clear: both;
  margin: 50px 0px;
}

.top30 {
  clear: both;
  margin-top: 30px;
}

