@import url(http://fonts.googleapis.com/css?family=Economica:400,700);
@import 'vendor';
@import 'welcome';

// override bootstrap for nav
.navbar-default {
  background: white;
  border: none;
  opacity: 0.85;
  padding-right: 20px;
}

.page-header {
  margin-top: 0px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Economica', sans-serif;
}


#logo {
  height: 40px;
}

h2 {
  color: rgb(5,61,90);
}


footer {
  clear: both;
  margin: 50px 0px;
}

.top30 {
  clear: both;
  margin-top: 30px;
}

.text-bg-light {
  background: rgba(255, 255, 255, 0.75);
  display: table;
  margin: auto;
  padding: 3px 10px;
}

section {
  // background: rgba(255, 255, 255, .85);
  position: relative;
  z-index: 2;
}