@font-face {
    font-family: 'AvenirNextLTW01-Regular';
    src: url(font-path('avenirnextltpro-regular.eot?#iefix'));
    src: url(font-path('avenirnextltpro-regular.eot?#iefix')) format('eot'),
         url(font-path('avenirnextltpro-regular.woff')) format('woff'),
         url(font-path('avenirnextltpro-regular.ttf')) format('truetype'),
         url(font-path('avenirnextltpro-regular.svg#avenirnextltpro-regular')) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next LT W01 Demi';
    src: url(font-path('avenirnextltpro-demi.eot?#iefix'));
    src: url(font-path('avenirnextltpro-demi.eot?#iefix')) format('eot'),
         url(font-path('avenirnextltpro-demi.woff')) format('woff'),
         url(font-path('avenirnextltpro-demi.ttf')) format('truetype'),
         url(font-path('avenirnextltpro-demi.svg#avenirnextltpro-demi')) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next LT W01 Bold';
    src: url(font-path('avenirnextltpro-bold.eot?#iefix'));
    src: url(font-path('avenirnextltpro-bold.eot?#iefix')) format('eot'),
         url(font-path('avenirnextltpro-bold.woff')) format('woff'),
         url(font-path('avenirnextltpro-bold.ttf')) format('truetype'),
         url(font-path('avenirnextltpro-bold.svg#avenirnextltpro-bold')) format('svg');
    font-weight: normal;
    font-style: normal;
}

