body#welcome {

  &.index {

    #bg {
      position: fixed; 
      top: -50%; 
      left: -50%; 
      width: 200%; 
      height: 200%;
    }

    #bg img {
      position: absolute; 
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
      margin: auto; 
      min-width: 50%;
      min-height: 50%;
    }

    .container {
      padding-bottom: 50px;
    }

  }

  &.what {
    #pavlovianDog {
      margin-top: 20px;
    }
  }

  &.how {
    li {
      margin-bottom: 1.5em;
    }
  }

  &.fishtank {
    #aquarium {
      width: 960px;
      height: 600px;
      display: block;
      margin: 20px auto;
      position: relative;
      overflow: hidden;

      #leftSide {
        width: 50%;
        float: left;
        min-height: 100%;
        overflow: hidden;
        position: relative;
      }

      #rightSide {
        width: 50%;
        min-height: 100%;
        float: right;
        position: relative;

        ul#nav {
          position: absolute;
          right: 0px;
          top: 0px;

          list-style: none;
          font-size: 24px;
          text-align: right;
          color: #333;
          display: none;
        }
      }

      .fish {
        width: 26px;
        height: 20px;
        position: absolute;
        background: image-url('fish_email.png') no-repeat;

        &.email {
          background: image-url('email.png');
        }
      }

      #logo {
        position: absolute;
        top: 250px;
        left: 330px;
        display: none;

        img {
          width: 300px;
        }
      }
    }
  }
}

