!!!
%html
  %head
    %title Tapermail
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{:id => controller.controller_path.gsub('/','_'), :class => controller.action_name, :data => {:action => controller.action_name}}
    = yield
    = javascript_include_tag "application", "data-turbolinks-track" => true
